
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    background-image: url('../img/mob/page-bg.jpg');
    padding: 1.375rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-width: 30rem;
    max-width: 64rem;
    margin: 0 auto;
}
